<header>
    <nav>
      <ul>
        <li><a href="/?lng=en">EN</a></li>
        <li><a href="/?lng=ru">RU</a></li>
        <li><a href="/?lng=kz">KZ</a></li>
      </ul>
    </nav>
    <h1><%= t('navigation.home') %></h1>
  </header>
  