<nav>
  <ul>
    <li><a href="/"><%= t('navigation.home') %></a></li>
    <li><a href="/login"><%= t('navigation.login') %></a></li>
    <li><a href="/dashboard"><%= t('navigation.dashboard') %></a></li>
  </ul>
</nav>
